PORT=4000
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority
CORS_ORIGIN=http://localhost:5500
FIREBASE_SERVICE_ACCOUNT_BASE64=base64_of_service_account_json
FIREBASE_STORAGE_BUCKET=your-project-id.appspot.com
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret